Language: Cpp
BasedOnStyle: Google
IndentWidth: 4
UseTab: Always
TabWidth: 4
ColumnLimit: 120
PointerAlignment: Middle
AccessModifierOffset: -2
BreakBeforeBraces: Allman
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakTemplateDeclarations: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false
